body{
    margin: 0;
    font-family: 'Lucida Sans';
}

button{
    border: none;
    background: transparent;
}

.user-card{
    text-align: center;
    width: 400px;
    margin: 0  auto;
    font-weight: 600;
    font-size: 16px;
}
.photo{
    width: 200px;
    height: 200px;
    margin: 0 auto 2.5em;
    border-radius: 50%;
    overflow: hidden;
    border: 12px solid hsl(244, 48%, 94%);    
}
.photo img{
    height: 100%;
}
.name{
    font-size: 1em;
    margin-bottom:0.5em;
    color: hsl(249, 33%, 34%);
}
.info{
    font-size: 0.75em;
    margin-bottom: 5em;
    color: hsl(198, 9%, 35%);
}
.info-separator{
    padding: 0 2px;
}

.messedge-action{
    font-size: 0.875em;
    width: 60%;
    color: hsl(0, 0%, 100%);
    background: hsl(249, 33%, 34%);
    max-width: 200px;
    padding: 0.5em;
    margin: 0 auto;
    border-radius: 0.5em;
}
}